@import "init.scss";
@import "constants.scss";

.header{
    width: 100%;
    height: $navHeight;
    background: #3a3a3a;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 100;

    .container{
        //background: pink;
        height: 100%;
        width: 1570px;
        margin: 0 auto;
        overflow: hidden;

        .logo-box{
            width: 140px;
            height: $navHeight;
            background: url("https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1531300884976&di=6e24446c93bab96e255be915a8e6a24c&imgtype=0&src=http%3A%2F%2Fimg.zcool.cn%2Fcommunity%2F01717458de033ea801219c77ce034b.jpg%402o.jpg") no-repeat;
            background-size:140px 64px;
            //margin-top: 8px;
            float: left;
            a{
                display: block;
                width: 100%;
                height: 100%;
            }
        }
        .project-name{
            height: $navHeight;
            float: left;
            margin-left: 109px;
            color: #1abc9c;
            line-height: 64px;
            font-size: 22px;
        }

        .nav{
            float: left;
            margin-left: 200px;
            li{
                float: left;
                margin-right: 80px;
                height: $navHeight;
                line-height: 64px;
                box-sizing: border-box;
                a{
                    color: #fff;
                    font-size: 18px;
                    margin-top: -7px;
                }
                &.active{
                    border-bottom: 5px solid #5c87d9;
                }
            }
        }

        .auth-box{
            float: right;
            height: $navHeight;
            line-height: $navHeight;
            color: #fff;
            .iconfont{
                color: #fff;
                font-size: 20px;
            }
            a{
                color: #fff;
            }
        }
    }
}